*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 5%;
    background-color: black;
}

.header-1{
    width: 10%;
    height: 70px;
    background-color: aqua;
    margin-right: auto;
}

.link{
    padding: 10px;
    cursor: pointer;
    margin: 50px;
    background-color: aqua;
    transition: all 0.5s ease 0s;
    border: none;
    border-radius: 40px;
}

#link:hover{
    color: rgb(180, 72, 29);
}

.nav-links{
    list-style: none;
    padding: 0px 30px;
    display: flex;
    gap: 30px;
    cursor: pointer;
    font-family: "poppins";
    font-weight: 400;
    font-size: 20px;
    
}

.nav-links li a {
    transition: all 0.5s ease 0s;
} 

.nav-links li a:hover {
    transition: all 0.5s ease 0s;
    color: whitesmoke;
} 

.nav-links:hover {
    color: aliceblue;
}

.nav{
    margin-right: 90px;
}

.banner{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;

}

.my-image{
   width: 45% !important;
   height: 50% !important;
}


.banner-text{
    text-align: justify;
}

.hi{
    font-family: "poppins";
    font-weight: 200;
    padding: 15px;
    font-size: 20px;
    line-height: 15px;
}

.name{
    font-family: "poppins";
    font-weight: 200;
    font-size: 30px;
    line-height: 15px;
    display: flex;
    gap: 15px;
}

.adedoyin{
    font-weight: 600;
}

.field{
    font-family: "poppins";
    font-weight: 200;
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
}

.see-more{
    font-family: "poppins";
    font-weight: 200;
    font-size: 30px;
    line-height: 30px;
    
}
